<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" #formRegister="ngForm" novalidate>
    <div class="container">  
        <p>Already have an account? <a [routerLink]="['/public/login']">Sign in</a>.</p>

      <label for="email"><b>First Name <span style="color:red">*</span></b></label>
      <input type="text" placeholder="First Name" name="firstName" formControlName="firstName">

      <label for="email"><b>Last Name<span style="color:red">*</span></b></label>
      <input type="text" placeholder="Last Name" name="lastName" formControlName="lastName">

      <label for="email"><b>Phone<span style="color:red">*</span></b></label>
      <input type="text" placeholder="Phone" name="phone" formControlName="phone">

      <label for="email"><b>Email<span style="color:red">*</span></b></label>
      <input type="text" placeholder="Email" name="email" formControlName="email">
  
      <label for="psw"><b>Password<span style="color:red">*</span></b></label>
      <input type="password" placeholder="Password" name="password" formControlName="password">
  
      <label for="psw-repeat"><b>Repeat Password<span style="color:red">*</span></b></label>
      <input type="password" placeholder="Confirm Password"  formControlName="confirmPwd">

      <button type="submit" class="btn" [disabled]="!formRegister.valid" (click)="Register()">Register</button>
    </div>
    <div class="footer"> {{currentDate |date: 'yyyy'}} &copy; Xtradot technologies.</div>
  </form>
</ion-content>
